body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
    body {
      width: 1000px;
    }
  }

header {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
}

main {
  margin: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  line-height : 1;
}

.experience {
  display: flex;
  flex-wrap: wrap;
}

.experience-item {
  width: 50%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.education {
  display: flex;
  flex-wrap: wrap;
}

.education-item {
  width: 50%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#footer {
    height: 50px;
    width: 100%;
    background-color: #808080;
    clear: both;
    color: #fff;
}

img {
  width: auto;
  height: 150px;
}

li {
 margin: 10px;
}

.column-left {
    float: left;
    width: 30%;
    padding: 5px;
    background-color: rgb(229, 229, 229);
}

.column-left img {
  width: auto;
  height: 60px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.column-right {
    float: right;
    width: 65%;
    padding: 1px;
    text-align: justify;
    background-color: rgb(229, 229, 229);
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
.annotation {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 800px;
  border-radius: 5px;  
}
